.left1
{
    position:relative;
    width:19.80198%; /*200px/1010px*/
    height:200px;
    left:10.148515%;
    float:left;
    clear:left;
}

.left2
{
    position:relative;
    width:19.80198%;
    height:200px;
    left:20.29703%;
    float:left;
}

.left3
{
    position:relative;
    width:19.80198%;
    height:200px;
    left:30.445545%;
    float:left;
}

.date
{
    display:block;
}

.news
{
    margin: 0;
}

.date_inline
{
    display:none;
}

